.single_month {
    width: 100px;
    height: 50px;
    display: inline-block;
    border: 2px solid black;
    position: relative;
    cursor: pointer;
    font-weight: bold;
}
.single_month span {
    font-weight: normal;
}
